<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>BROKEMON</h1>
    <h2>New Pokemon</h2>
    <form method="post">
        <label for="pokename">Pokemon name:</label>
        <input type="text" id="pokename" name="pokename"><br><br>
        <label for="pokeage">Pokemon age:</label>
        <input type="number" id="pokeage" name="pokeage"><br><br>
        <label for="pokeiq">Pokemon IQ:</label>
        <input type="number" id="pokeiq" name="pokeiq"><br><br>
        <input type="submit" value="Save">
      </form>
</body>

</html>