<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>BROKEMON</h1>
<h2>Trainer profile</h2>
<dl>
    <dt>Gigachad</dt>
    <dd>- Trainer name</dd>
    <dt>33</dt>
    <dd>- Trainer age</dd>
    <dt>999999999</dt>
    <dd>- Trainer IQ</dd>
    <dt>infinite</dt>
    <dd>- Trainer catch skill</dd>
</dl>
</body>
</html>